/* HEADER */
 
.header{
    width: 100%;
    height: 100vh;
    color: aliceblue;
}

.navbar{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    background-color: var( --colorBackgroundNavbar);
    border-bottom: 2px solid #00b4d84f;
        & .navbar-container{
            max-width: 900px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

                & #name-logo{
                    font-family:var(--tipograpy);
                    margin: 0;
                    padding: 0;
                    color: var(--colorLetras);
                    font-size: 1.4rem;
                    font-weight: bolder;
                    line-height: 1.6rem;      
                }
                & #name-logo:hover{
                    cursor: pointer;
                }
                & .items{
                    width: 300px;
                    font-weight: 600;
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    justify-content: space-between;
                }
        }
        & .button-nav{
            display: none;
        }
}

.hero{
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;

        & .hero-container{
            text-align: left;
                & #msj-welcome{
                    font-family: var(--tipograpy);
                    font-size: 2rem;
                    font-weight: 500;
                    color:  var(--colorLetras);
                    margin: 0;
                }
                & #web-developer{
                    font-family: var(--tipograpy);
                    font-size: 2.4rem;
                    font-weight: 800;
                    margin: 0;
                    color: var(--colorCeleste);
                    animation-name: change-color;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    /* text-shadow: 0 0 2px rgb(69, 100, 236); */
                }
                & #hero-subtitle{
                    display: flex;
                    align-items: center;
                    color: #ffffffd5;
                    padding-bottom: 10px;
                    font-size: 1.1rem;
                        & .world-img{
                            padding: 0 .4rem;
                        }
                }

                .btn-container{
                    width: 150px;
                    padding: 5px 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                      & img{
                        width: 30px;
                        height: 30px;
                        filter: invert(100%);
                        transition: all 0.2s ease-in-out;
                          &:hover{
                            cursor: pointer;
                            scale: 1.1;
                          }
                      }
                }
        }
        & .photo-container{
            width: 195px;
            height: 195px;
            border-radius: 50%;
            border: 3px solid rgba(12, 152, 187, 0.464);
            box-shadow: 0 0 25px rgba(51, 129, 255, 0.856);
            overflow: hidden;
        }
        & #arrow-bottom{
            display: flex;
            align-items: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 35px;
            animation-name: animacionFlechita;
            animation-duration: 500ms;
            animation-iteration-count: infinite;
            animation-direction: alternate;
                & figcaption{
                    color: var(--colorCeleste);
                    font-weight: 800;
                    font-size: 1rem;
                }
        }      
}

.nav-link{
    color:  white;
    padding: .2rem 0; 
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    text-decoration: none;
    transition-duration: 200ms;
    font-family: "Noto Sans", sans-serif;
}

.nav-link:hover{
    color: var(--colorCeleste);
    filter: drop-shadow( 0 0 2px var(--colorCeleste));
}

.glass-effect{
    background: #0000003f;
    backdrop-filter: blur(0.3rem);
}

/* Responsive */

