@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* VARIABLES */
:root{
    --colorBackgroundNavbar: rgba(1, 13, 29, 0.626);
    --colorBackground: #0a1128;
    --color-bg-light: #091c41;
    --colorCeleste:#00b4d8;
    --colorLetras: white;
    --tipograpy :"Noto Sans", system-ui;
}
/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; /*Animacion del scroll*/
    scroll-padding-top: 60px; /* Ajusta este valor según la altura de tu barra de navegación */
}
body{
    width: 100%;
    background-color: #0a1128;
}
body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color:var(--colorCeleste);
}
.point{
    color: var(--colorCeleste);
    font-size: 2.9rem;
}
#point-logo{
    font-size: 2rem;
}
.resaltar{
    color: var(--colorCeleste);
    font-weight: 600;
}
.section{
    width: 900px;
    margin: auto;
}
.titles{
    color: var(--colorLetras);
    font-size: 2.1rem;
    padding: 30px 0 30px 0;
    font-family: var(--tipograpy);
}
.subtitle{
    color: var(--colorLetras);
    font-family: var(--tipograpy);
    font-size: 1.2rem;
}
.about-me-text{
    color: var(--colorLetras);
    font-family: var(--tipograpy);
    width: 85ch;
    line-height: 1.5;
}
.letter-type{
    font-family: "Noto Sans", sans-serif;
    color:  var(--colorLetras);
    font-size: 1.4rem;
    font-weight: 200;
    width: 100%;
    margin: 0;
}
.btn-container{
    padding: 0;
    display: flex;
    flex-direction: row;
}
.btn{
    all: unset;
    padding: .3rem .9rem;
    border-radius: 10px;
    border: 2px solid var(--colorCeleste);
    font-family: var(--tipograpy);
    font-size: .9rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
    transition-duration: 400ms;
        &:hover{
            cursor:pointer;
        }
}
.btn-dark{
    background-color: var(--colorBackground);
    color: var(--colorCeleste);
        &:hover{
            background-color: var(--colorCeleste);
            color: var(--colorLetras);
        }
}
.btn-light{
    color: var(--colorCeleste);
        &:hover{
            background-color: var(--colorCeleste);
            color: var(--colorLetras);
        }
}
.glass-effect{
    background: #0000003f;
    backdrop-filter: blur(0.3rem);
}
strong{
    color: white;
    font-weight: 400;
}
a{
    text-decoration: none;
}

/* HEADER */
 
.header{
    width: 100%;
    height: 100vh;
    background: rgb(15,26,61);
    background: radial-gradient(circle, rgba(15,26,61,1) 0%, rgba(10,17,40,1) 100%);
    color: aliceblue;
}

.navbar{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    background-color: var( --colorBackgroundNavbar);
    border-bottom: 2px solid var(--colorCeleste);
        & .navbar-container{
            max-width: 1100px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

                & #name-logo{
                    font-family:var(--tipograpy);
                    margin: 0;
                    padding: 0;
                    color: var(--colorLetras);
                    font-size: 1.5rem;
                    font-weight: bolder;
                    line-height: 1.6rem;      
                }
                & #name-logo:hover{
                    cursor: pointer;
                }
                & .items{
                    width: 300px;
                    font-weight: 600;
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    justify-content: space-between;
                }
        }
        & .button-nav{
            display: none;
        }
}

.hero{
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;

        & .hero-container{
            text-align: left;
                & #msj-welcome{
                    font-family: var(--tipograpy);
                    font-size: 2.1rem;
                    font-weight: 500;
                    color:  var(--colorLetras);
                    margin: 0;
                }
                & #web-developer{
                    font-family: var(--tipograpy);
                    font-size: 2.6rem;
                    font-weight: 800;
                    margin: 0;
                    color: var(--colorCeleste);
                    animation-name: change-color;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    /* text-shadow: 0 0 2px rgb(69, 100, 236); */
                }
                & #hero-subtitle{
                    display: flex;
                    align-items: center;
                        & .world-img{
                            padding: 0 .4rem;
                        }
                }
                & .social-media{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: .5rem 10px 0 0px;
                    color: var(--colorCeleste);
                    transition-duration: 200ms;
                        & img{
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            margin: auto;
                        }
                }
                & .social-media:hover{
                    cursor: pointer;
                    transform: translateY(-6px);
                }
        }
        & .photo-container{
            width: 190px;
            height: 190px;
            border-radius: 50%;
            border: 3px solid rgb(12, 152, 187);
            box-shadow: 0 0 8px rgb(51, 214, 255);
            overflow: hidden;
                & .img{
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                }
            
        }
        & #arrow-bottom{
            display: flex;
            align-items: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 35px;
            animation-name: animacionFlechita;
            animation-duration: 500ms;
            animation-iteration-count: infinite;
            animation-direction: alternate;
                & figcaption{
                    color: var(--colorCeleste);
                    font-weight: 800;
                    font-size: 1rem;
                }
        }      
}

.nav-link{
    color:  white;
    padding: .2rem 0; 
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    text-decoration: none;
    transition-duration: 200ms;
    font-family: "Noto Sans", sans-serif;
}

.nav-link:hover{
    color: var(--colorCeleste);
    filter: drop-shadow( 0 0 2px var(--colorCeleste));
}

/* ABOUT ME SECTION */

#about-me-section{
    width:100%;
    margin: 0 auto;
    padding: 20px 0 100px 0;
    background-color: #00153b;
    border-radius: 12px;
    
    & .container-about-me{
        max-width: 800px;
        margin: 0 auto;
        padding: 0 .5rem 0 .5rem;
        
        display: flex;
        flex-direction: column;
        align-items: left;
        box-sizing: border-box;

            & .about-me-title{
                color: var(--colorLetras);
                font-size: 2.4rem;
                padding: 0 0 1rem 0;
                font-family: var(--tipograpy);
            }
    }
    & .photo-about-me{
        overflow: hidden;
        width: 500px;
        height: 320px;
        margin: 0 auto;
        padding: 2rem 0;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    }
}

/* PROJECTS SECTION*/

#projects-section{
    background-color: transparent;
    max-width: 800px;
    padding: 0;
        & #title-project{
            padding-bottom: .5rem;
            padding-top: 1rem;
        }
        & #subtitle-project{
            font-size: 1.3rem;
        }
        & #container-projects{
            width: fit-content;
            margin: auto;
            padding: 40px 0;
            display: grid;
            grid-template-columns:380px 380px;
            gap:30px 20px;
                & .project-num{
                    width: 100%;

                    text-align: left;
                    font-size: 1.2rem;
                    font-family: var(--tipograpy);
                    color: rgb(159, 208, 250);
                    border: 3px solid rgb(12, 82, 128);
                    border-radius: 12px;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    box-sizing: content-box;
                    transition-duration: 300ms;
                   
                        & .photo-project{
                            width: 100%;
                            height: 250px;
                            margin: 0 auto;

                            overflow: hidden;
                            background-position: center;
                            background-size: cover;
                            border-radius: 12px 12px 0 0;
                                & a{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                        & img{
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            object-position: center;
                                        }
                                }



                        }
                        & .info-project{
                            padding: 1rem 1.5rem 1rem 1.5rem;
                            
                                & h2{
                                    color: var(--colorCeleste);
                                    font-size: 1.4rem;
                                }
                                & .tablet-container{
                                    display: flex;
                                    gap: .5rem;
                                    padding: .5rem 0;
                                    font-size: 1rem;
                                        & .tablet{
                                            background-color: #00153b;
                                            border-radius:30px;
                                            border: 2px solid var(--colorCeleste);
                                            padding: .2rem .5rem;
                                            font-size: .8rem;
                                        }
                                        & .tablet:hover{
                                            background-color: var(--colorCeleste);
                                            color: var(--colorLetras);
                                            
                                        }
                                }
                                & .descrip-project{
                                    color: var(--colorLetras);
                                    font-size: 1rem;
                                    padding: .5rem 0;
                                }

                        }
                        & .btn-container{
                            padding: 0 0 1.5rem 1.5rem;
                            display: flex;
                            flex-direction: row;
                                & .btn-projects{
                                    margin: 0;
                                    margin-right: .5rem;
                                    padding: .4rem .6rem;
                                }
                        }    
                }
                & .project-num:hover{
                    scale: 1.02;
                }
        }
}

/* Habilidades */

.title-skills{
    padding: 3rem 0 .25rem 0;
    text-align: left;
    font-size: 1.8rem;
}
#container-skills{
    max-width: 800px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem .5rem;
        & .container-type{
            box-sizing: content-box;
            width: 370px;
            background-color: #091c41;
            border-radius: 10px;
            padding: 1rem 0;
            border: 3px solid rgb(12, 82, 128);
            
                & .skill-type{
                    font-family: var(--tipograpy);
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: var(--colorCeleste);
                    text-align: center;
                    padding: .25rem 0 1rem 0;
                }
                & .skill-grid{
                    padding: 1rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    gap: 18px 25px;
                        & .item-skill{
                            display: flex;
                            flex-direction: column;
                            gap: .5rem;
                            justify-content: center;
                            align-items: center;
                            margin: auto;
                            width: 80%;
                            height: 80%;
                            /* filter: opacity(25%); */
                            color: var(--colorCeleste);
                                & img{
                                    width: 50px;
                                    height: 50px;
                                    object-fit: contain;
                                }
                                & figcaption{
                                    font-family: var(--tipograpy);
                                    color: var(--colorLetras);
                                    font-weight: 600;
                                    font-size: 1rem;
                                } 
                        }
                        & .item-skill:hover{
                            filter: grayscale(0);
                            filter: opacity(100%);
                        }
                }
        }
}

/* CONTACT SECTION*/

#contact-section{
    max-width:750px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;   
}

#title-contact{
    margin-top: 2rem;
    padding: 0;
}
#contact-subtitle{
    font-size: 1.5rem;
    padding: 0;
    padding-bottom: 2rem;
}

.form{
    width: 750px;
    display: flex;
    flex-direction: column;
    font-family: var(--tipograpy);
    font-size: 1.1rem;
    padding: 1rem 1rem;
    margin: 1rem auto 0 auto;
        & input{
            width: 100%;
            height: 3rem;
            font-size: 1rem;

            border: none;
            border-radius: 10px;
            color: var(--colorLetras);
            background-color: var(--color-bg-light);
            padding: .5rem;
            margin: 1rem 0;
            border: 3px solid rgb(12, 82, 128);
        }
        textarea{
            all: unset;
            width: 98%;
            height: 5rem;
            font-size: 1rem;
            background-color: var(--color-bg-light);
            border-radius: 10px;
            padding: .5rem;
            margin: 1rem 0;
            border: 3px solid rgb(12, 82, 128);

        }
        & input:focus,
        textarea:focus{
            outline: none;
            border: 2px solid var(--colorCeleste);
        }
}
.btn-contact{ 
    margin: 1.5rem auto 1.5rem auto;
    padding: .5rem 1rem;
    font-size: 1.1rem;
}

/* FOOTER*/

#footer{
    width: 100%;
    background-color: var(--colorBackgroundNavbar);
    color:var(--colorLetras);
    height: 80px;
    font-family: "Noto Sans", sans-serif;
    border-top: 2px solid var(--colorCeleste);
        & #footer-text{
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-weight:400 ;
            font-size: 1rem;
        }
}
/* A N I M A C I O N E S */

@keyframes titilar{
    0%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(12px);
    }

    100%{
        transform: translateX(0);
    }
}
@keyframes change-color {
    0%{
        color: var(--colorCeleste);
    }
    100%{
        color:#0077b6;  
    }
}
@keyframes animacionFlechita{

    0%{
        filter: opacity(90%);
    }

    100%{
        bottom: 50px;
        filter: opacity(100%);
    }
}